.card{
	background-color: white;
	width: 17%;
	height: 35%;
	border: solid black 2px;
	border-radius: 5px;
	text-align: center;
}
.GoldCard{
	background-color: gold;
	width: 17%;
	height: 35%;
	border: solid black 2px;
	border-radius: 5px;
	text-align: center;
}
.SilverCard{
	background-color: purple;
	width: 17%;
	height: 35%;
	border: solid black 2px;
	border-radius: 5px;
	text-align: center;
}
.BronzeCard{
	background-color: coral;
	width: 17%;
	height: 35%;
	border: solid black 2px;
	border-radius: 5px;
	text-align: center;
}

.CardName{
	text-align: center;

}
.Stats{
	display: flex;
	justify-content: space-between;
	padding-left: 20%;
	padding-right: 20%;
}
.redProp{
	color: red;
}
.blueProp{
	color: blue;
}
.greenProp{
	color: green;
}